.container{
    color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.titulo{
    font-size: 3vh;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: last;
    letter-spacing: 0.1vw;
    font-size: 5vh;
}
.conteudo{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.box{
    border: 0.2vh solid rgba(117, 117, 117, 0.253);
    border-radius: 0.3vw;
    box-shadow: 0 0 0.5vh 0 rgb(0, 0, 0);
    width: 45%;
    max-height: fit-content;
}
.foto1,.foto2{
    min-height: 200px;
    width: 100%;
    background-image: url(../../../img/god.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
}
.foto2{
    background-image: url(../../../img/horizon.jpg);
}
.titulo2{
    font-size: 3vh;
    text-align: center;
    padding: 1%;
}
.subtit{
    width: 90%;
    margin: 0 auto;
    font-size: 1.6vh;
    padding: 0 0 2% 0;
}

@media (max-width:1200px){
    .titulo{
        padding: 5% 0 0 0;
    }

    .conteudo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0 0 5% 0;
    }

    .box{
        width: 80%;
    }
}