
.titulo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-family: last;
    padding: 2% 0 2% 0;
    font-size: 10vh;
}

.entrada {
    width: 100%;
    height: 40vh;
    margin-top: -8vh;
    background-image: url(../../../img/ellieaxe.jpg);
    background-size: cover;
    background-position: center;
}

.historia {
    height: 25vh;
}

.historia .subtitulo p {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-family: last;
    font-size: 8vh;
    line-height: 12vh;
    margin-top: -5vh;
}

.personagens {
    display: flex;
    gap: 0.5vw;
    height: 60vh;
}

.pic {
    height: 100%;
    width: 100%;
}

.vinganca,
.consequencia {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.vinganca {
    background-image: url(../../../img/fundoellie.jpg);
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.fotoellie {
    height: 100%;
    width: 50%;
    background-image: url(../../../img/ellie.webp);
    background-size: cover;
    background-position: -20%;
    transform: scaleX(-1);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.fotoabby {
    height: 100%;
    width: 100%;
    background-image: url(../../../img/abby.png);
    background-size: cover;
    background-position: -20%;
    background-repeat: no-repeat;
}

.conConteudo, .vigConteudo {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 120%;
    justify-content: center;
    padding: 3%;
}

.vigTitulo {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: last;
    font-size: 15vh;
    margin-left: -15%;
}

.consequencia {
    background-image: url(../../../img/fundoabby.png);
    position: relative;
    display: flex;
}


.conTitulo {
    text-align: right;
    color: #fff;
    font-family: last;
    font-size: 15vh;
    width: 100%;
    margin-left: 40%;
}

.vigSubtexto, .conSubtexto {
    color: #fff;
    font-size: 2vh;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100%;
}

.conSubtexto{
    text-align: right;
}